@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.calc-img{
    border-radius: 50px;
}
.calc-area{
    background-color: #F8F8F8;  
    border-radius: 15px;
    padding: 30px;
    
}
.calculate-btn{
    margin-left: 120px;
}
